## Guess column names

Problem is to recognise column names. Lets start by cheating. Generate dataset and guess column names on that.

## Generate Fake data

Test faking code is working

In [2]:
from faker import Faker
fake = Faker()
Faker.seed(4321)#make a sseed for reproducability


fake.name()
# 'Lucy Cechtelar'

fake.address()
# '426 Jordy Lodge
#  Cartwrightshire, SC 88120-6700'

fake.text()
# 'Sint velit eveniet. Rerum atque repellat voluptatem quia rerum. Numquam excepturi
#  beatae sint laudantium consequatur. Magni occaecati itaque sint et sit tempore. Nesciunt
#  amet quidem. Iusto deleniti cum autem ad quia aperiam.
#  A consectetur quos aliquam. In iste aliquid et aut similique suscipit. Consequatur qui
#  quaerat iste minus hic expedita. Consequuntur error magni et laboriosam. Aut aspernatur
#  voluptatem sit aliquam. Dolores voluptatum est.
#  Aut molestias et maxime. Fugit autem facilis quos vero. Eius quibusdam possimus est.
#  Ea quaerat et quisquam. Deleniti sunt quam. Adipisci consequatur id in occaecati.
#  Et sint et. Ut ducimus quod nemo ab voluptatum.'

'Today project attorney help any other position scene. Half participant instead without medical around appear.\nDebate bar gas enough about ever. I force back all size speech.'

In [3]:
fake.name()

'Anna Patterson'

In [54]:
#imports
from random import randint
import csv
import notebook as nb
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
labeled = pd.DataFrame(columns=['name', 'address','text','boo','date','phone','ssn'])

for _ in range(100):
    name=fake.name()
    address=fake.address()
    text= fake.text()
    boo= randint(0, 1)
    job=fake.job()
    date = fake.date_time()  
    phone=fake.phone_number()
    ssn=fake.ssn()
    company=fake.company()
    #ip=fake.internet()
    labeled = labeled.append({'name' : name ,'address':address,'text':text,'boo':boo,'date':date,'phone':phone,'ssn':ssn} , ignore_index=True)

In [12]:
#check output looks reasonable
labeled.head()

,name,address,text,boo,date,phone,ssn
0,Amanda Myers,"64019 Mora Flat Apt. 929\nCainbury, LA 17612",Listen water human as. Economy Republican laug...,0,1975-07-29 19:42:57,625.075.9498,388-84-5677
1,Seth Carey,"592 Ortega Dale\nSmithview, WI 13157",Paper into live air senior race computer TV. S...,0,1995-08-29 19:49:27,(457)263-1060x41385,368-13-2210
2,Antonio Green,"84885 Kenneth Inlet Suite 824\nBarryside, CT 2...",Many visit water discover that expert rich. Pa...,1,1980-06-16 19:10:06,0034734391,402-79-5188
3,Patrick Mccall,"926 Johnson Estates\nLake Christinaville, AZ 8...",Main of somebody whether discuss west arm base...,0,2004-03-23 14:41:13,358-619-6354,586-83-2927
4,Jessica Hess,20536 Lori Mountains Suite 166\nSouth Anthonys...,For campaign character affect third main respo...,0,2020-03-04 07:11:15,712-023-9750x58728,465-37-5493

## Get spacy loaded

In [20]:
import spacy
nlp=spacy.load('en')

#nlp = spacy.load("en_core_web_sm")

In [21]:
#check spacy is working
nlp=spacy.load('en')

#nlp = spacy.load("en_core_web_sm")
doc = nlp("Apple is looking at buying U.K. startup for $1 billion")

for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

Apple 0 5 ORG
U.K. 27 31 GPE
$1 billion 44 54 MONEY

## Now see Spacy detects columns correctly

In [34]:
#data is in labeled 
#how many rows in labeled
length=len(labeled.index)

In [30]:
labeled.iloc[2, 0]

'Antonio Green'

In [66]:
#guess first column
guesses= pd.DataFrame()

i = 1
while i < length:
    col1 = nlp(labeled.iloc[i, 0])#read in thei row of first column
    col2 = nlp(labeled.iloc[i, 1])#read in thei row of first column
    i += 1
    for ent in col1.ents:#extract entities using spacy
        first=ent.label_
        #print(ent.label_)  
        #new_row={'first':first}
      #  guesses = guesses.append(new_row, ignore_index=True)
    for ent in col2.ents:#extract entities using spacy
        #print(ent.text, ent.start_char, ent.end_char, ent.label_)
        second=ent.label_
        #print(ent.label_,col2)  
        new_row={'first':first,'second':second}
        guesses = guesses.append(new_row, ignore_index=True)

In [58]:

guesses.groupby('first').size()

first
PERSON    95
dtype: int64

In [68]:
g = guesses.groupby('second')
size = g.size()
size[size > 20]

second
CARDINAL    101
DATE         41
GPE          43
ORG          46
PERSON       38
dtype: int64